{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    ["import-graphql"],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "config": "./config"
        }
      }
    ]
  ]
}
